*{
  font-family: 'Montserrat', sans-serif;
}

body,
html{
  color: #fff;
  background: -moz-radial-gradient(center, ellipse cover, rgba(79,55,79,1) 0%, rgba(0,0,0,1) 100%); /* ff3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(79,55,79,1)), color-stop(100%, rgba(0,0,0,1))); /* safari4+,chrome */
background:-webkit-radial-gradient(center, ellipse cover, rgba(79,55,79,1) 0%, rgba(0,0,0,1) 100%); /* safari5.1+,chrome10+ */
background: -o-radial-gradient(center, ellipse cover, rgba(79,55,79,1) 0%, rgba(0,0,0,1) 100%); /* opera 11.10+ */
background: -ms-radial-gradient(center, ellipse cover, rgba(79,55,79,1) 0%, rgba(0,0,0,1) 100%); /* ie10+ */
background:radial-gradient(ellipse at center, rgba(79,55,79,1) 0%, rgba(0,0,0,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f374f', endColorstr='#000000',GradientType=1 ); /* ie6-9 */
  height: 99%;

}

ul li {
  list-style: none;
  display: inline;
}

a{
  text-decoration: none;
}


/*--------------------------------------------------------------------------------------------------------------------------------------
    --> Header
---------------------------------------------------------------------------------------------------------------------------------------*/
.head{
  padding: 4px;
  background-color: rgba(0,0,0,.2);
  margin-top: -5px;
}

.logoHome{
  padding-top: 2px;
}

.logoHome:hover{
  height: 38px;
}

.navigation{
  float: right;
  margin: -55px auto;
}

.titlePages{
  font-size: 1.5em;
  text-transform: uppercase;
  margin-top: -32px;
  text-align: center;
}

/*--------------------------------------------------------------------------------------------------------------------------------------
    --> Header buttons animations
---------------------------------------------------------------------------------------------------------------------------------------*/
.navHome{
  font-size: 1em;
  font-weight: 500;
  background: none;
  border: 3px solid #b5b5b5;
  color: var(--color);
  margin: 4px;
  padding: 0.7em 1em;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  --color: #b5b5b5;
  --hover: #857685;
}

.navHome:hover,
.navHome:focus {
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}

@-webkit-keyframes pulse {
  100% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

@keyframes pulse {
    0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}


.navHome:hover,
.navHome:focus{
   border-color: var(--hover);
   color: #b5b5b5;
}

/*--------------------------------------------------------------------------------------------------------------------------------------
    --> Incluir
---------------------------------------------------------------------------------------------------------------------------------------*/
.formIncluir{
  background-color:rgba(0,0,0,.3);
  border-radius: .8em;
  box-shadow:0 0 .35em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  top:50%;
  padding: 1.5vmin 14vmin;
  position:fixed;
  text-align:center;
  transform:translate(-50%, -50%);
}

.hrIncluir{
<<<<<<< HEAD
  margin: -4% .300em;
  border: solid 2px #fff;
=======
  color: #fff;
  margin: -5% -1%;
  border: solid 2px;
>>>>>>> 363a6df11f76038903f09bd6277e88160dd266a5
  border-radius: 50px;
}

.containerIncluir{
  padding: 15% 8.5%;
}

.inputInclude{
  background-color: rgba(0,0,0,.5);
  color: #fff;
  border: 2px solid rgba(0,0,0,.6);
  border-radius: 2px;
  height: 1.6em;
}

.inputInclude:hover{
  background-color: rgba(0,0,0,.4);
  border: solid 2px rgba(0,0,0.5);
}

#btnEnviar,
#btnClear{
  font-size: 1em;
  padding: .4em 1.64em;
  border-radius: 2px;
<<<<<<< HEAD
  border: 2px solid #fff;
=======
  border: 3px solid rgba(0,0,0,.6);
>>>>>>> 363a6df11f76038903f09bd6277e88160dd266a5
  background-color: rgba(0,0,0,.2);
  font-weight: 600;
  color: #fff;
}

#btnEnviar:hover,
#btnClear:hover{
<<<<<<< HEAD
  background-color: #fff;
  color: rgba(0,0,0,.9);
  border-radius: 3px;
=======
  background-color: rgba(0,0,0,.4);
  border-radius: 4px;
>>>>>>> 363a6df11f76038903f09bd6277e88160dd266a5
  cursor: pointer;
  transition-duration: .5s;
}

label{
  font-size: 1.2em;
}

#sala{
  width: 12.8em;
}

#filme{
  width: 12.2em;
}

#capacidade{
  width: 8.1em;
}

#data{
  width: 12.8em;
}

#hora{
  width: 7.2em;
<<<<<<< HEAD
}


/*--------------------------------------------------------------------------------------------------------------------------------------
    --> Listar
---------------------------------------------------------------------------------------------------------------------------------------*/
.list-table{
  display: table;
  margin: auto;
  padding-top: 5%;
  font-size: 1.15em;
}

.list-tHead{
  background-color: rgba(0,0,0,.5);
  font-size: 1.20em;
}

.list-tBody{
  background-color: rgba(0,0,0,.3);
}

.hrlist{
  margin: 40%;
}

.listados{
  margin: 5% 31.7%;
}

/*--------------------------------------------------------------------------------------------------------------------------------------
    --> Alter
---------------------------------------------------------------------------------------------------------------------------------------*/
.listadosAlter{
  margin: 5% 29.5%;
}
.hrAlterC{
  margin: -4% 24%;
  border: solid 2px #fff;
  border-radius: 50px;
}

.btnAlter{
  font-size: 1.2em;
  background-color: rgba(0,0,0,.3);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  margin:30%;
}

.btnAlter:hover{
    background-color: #fff;
    color: rgba(0,0,0,.8);
    transition-duration: .3s;
}

#btnConfirmC,
#btnCancel{
  font-size: 1em;
  padding: .4em 1.1em;
  border-radius: 2px;
  border: 2px solid #fff;
  background-color: rgba(0,0,0,.2);
  font-weight: 600;
  color: #fff;
}

#btnConfirmC:hover,
#btnCancel:hover{
  background-color: #fff;
  color: rgba(0,0,0,.9);
  border-radius: 3px;
  cursor: pointer;
  transition-duration: .5s;
}
/*--------------------------------------------------------------------------------------------------------------------------------------
    --> Delete
---------------------------------------------------------------------------------------------------------------------------------------*/
 
=======
}
>>>>>>> 363a6df11f76038903f09bd6277e88160dd266a5
